html,body {
    margin: 0;
    width: 100%;
    height: 100%;
}
#container {
    width: 100%;
}
#header {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    height: 978px;
    /* filter: brightness(50%); */
}
#pic {
    filter: initial;
}
#pic-nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;;
}
#pic-nav img{
    margin-top: 15px;
    width: 120px;
    height: 120px;
}
#pic-nav ul{
    color: white;
    list-style: none;
    display: flex;
    font-size: 25px;
    cursor: pointer;
}
#pic-nav ul li{
    align-items: center;
    margin: 20px;
}
#pic-title {
    /* width: 978px; */
    transform: translate(13%,110%);
    color: white;
}
#pic-title h1{
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Jost', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#pic-title button {
    font-size: 20px;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
}
#but1 {
    width: 176px;
    background-color: orange;
    color: white;
    border: 0px;
}
#but2 {
    width: 230px;
    background: rgb(0,0,0,0.0) ;
    color: orange;
    border: 1px solid orange;
}
